# Data Input and Output

- Let's take a look at importing and exporting data with Pandas

In [8]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [11]:
df = pd.read_csv('../../../data/diabetes.csv')
df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,NaN,NaN,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,NaN,NaN,44.0,41.0,300.0

### CSV Output

In [ ]:
df.to_csv('diabetes_copy.csv',index=False) # Index False is important

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [ ]:
pd.read_excel('../../../data/diabetes.xls')

### Excel Output

In [ ]:
df.to_excel('diabetes_copy.xlsx',sheet_name='new_name')

### HTML Input

- Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [ ]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
df[0] # since read_html creates list of dataframes

# Operations
- There are many operations you can use with pandas
- We'll cover the most common ones

In [ ]:
bank = df[0]

In [ ]:
bank.info()

In [ ]:
bank.tail(10)

## Unique

In [ ]:
bank['ST'].unique() # unique obs

In [ ]:
bank['ST'].nunique() # Number of unique obs

In [ ]:
bank['ST'].value_counts() # counts each of the unique obs

## Select Data

In [ ]:
bank.head()

In [ ]:
bank[(bank['CERT'] < 2000) & (bank['ST'] == 'IL')]

## Applying Functions

In [ ]:
def divide_1000(x):
    return x / 1000

In [ ]:
bank['CERT'].apply(lambda x: x / 1000)

In [ ]:
bank['CERT'].apply(np.log)

In [ ]:
bank['CERT'].sum()

## Columns

In [ ]:
bank.columns # list columns

In [ ]:
del bank['Updated Date'] # permanently remove column

In [ ]:
bank.columns

In [ ]:
bank.index

## Sort and Order DataFrames

In [ ]:
bank.head()

In [ ]:
bank.sort_values(by='ST') # inplace = False by default

## Null Values

In [ ]:
bank.isnull()

In [ ]:
bank.dropna() # Seen this before

# SQL
The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Pythonâ€™s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

- `read_sql_table(table_name, con[, schema, ...])`	
    - Read SQL database table into a DataFrame.
- `read_sql_query(sql, con[, index_col, ...])`	
    - Read SQL query into a DataFrame.
- `read_sql(sql, con[, index_col, ...])`	
    - Read SQL query or database table into a DataFrame.
- `DataFrame.to_sql(name, con[, flavor, ...])`	
    - Write records stored in a DataFrame to a SQL database.

In [12]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('temp', engine)

In [ ]:
sql_df = pd.read_sql('data',con=engine)

In [ ]:
sql_df